@font-face {
    font-family: 'VerminVibesRegular';
    src: url('vermin_vibes.eot');
    src: url('vermin_vibes.eot') format('embedded-opentype'),
         url('vermin_vibes.woff') format('woff'),
         url('vermin_vibes.ttf') format('truetype'),
         url('vermin_vibes.svg#VerminVibesRegular') format('svg');
}
